.aero-blog-main-section {
 background-color: var(--black-color);
  color: var(--white-color);
}
.aero-blog-second-main-section {
  max-width: 1200px;
  margin: auto;
  padding-bottom:80px ;
}
.aero-blog-main-heading {
  text-align: center;
  padding: 120px 36px 60px;
  font-size: 50px;
  font-weight: 600;
}
.aero-blog-second-heading {
  font-size: 29px;
  line-height: 1.2;
  font-weight: 600;
  hyphens: auto;
}
.aero-blog-updated-time{
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6;
}

.aero-blog-main-article-card {
  display: flex;
  align-items: center;
  gap: 100px;
}

.aero-blog-main-article-wrapper{
  display: flex;
    flex-direction: column;
    gap: 50px;
}

.aero-blog-main-article-card:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.aero-blog-main-article-card:nth-child(even) .aero-blog-second-heading {
  margin-left: 200px;
  margin-bottom: 20px;
}
.aero-blog-main-article-card:nth-child(odd) .aero-blog-second-heading {
  margin-right: 200px;
  margin-bottom: 20px;
}

.aero-blog-main-article-card > div {
  width: 50%;
}

.aero-blog-img-section img {
  opacity: 0;
  scale: 0.8;
  border-radius: 30px;
  margin-top: -150px;
  width: 100%;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 250px 500px;
  animation-duration: 500ms;
}

.aero-blog-readmore-btn{
  margin-top: 20px;
  font-size: 12px;
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--white-color);
}
.aero-blog-readmore-btn:hover{
 border: 1px solid var(--white-color);
 background-color: var(--black-color);
 color: var(--white-color);
}

@keyframes fade-in {
  to {
    opacity: 1;
    scale: 1;
    margin-top: 0;
  }
}
