.aero_menu_location_icon {
  gap: 0.5rem;
}
.aero-col-3 {
  background: linear-gradient(
    90deg,
    var(--primary-color) 0% 30%,
    #f194be 45% 55%,
    var(--primary-color) 70% 100%
  );
  border-bottom: 1px solid var(--white-color);
  padding: 0.75em 1.25em;
}
.aero-col-3 > div {
  flex-basis: 33.3%;
  text-align: center;
}
.aero-col-3 > div:first-child {
  text-align: left;
}
.aero-col-3 > div:last-child {
  text-align: right;
}
.aero-list-7 {
  background: #ef3473;
  padding: 10px 0;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;
  text-align: center;
  z-index: 9;
}
.aero-menu-location {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.aero-d-changelocation {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  border: 1px solid var(--white-color);
  padding: 0.5em 1.6em;
  border-radius: 30px;
  font-size: 1.25rem;
  text-wrap: nowrap;
  color: var(--white-color);
}
.aero-app-changelocation {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white-color);
}
.aero-faq {
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
  transition: color 0.2s ease-out, background 0.2s ease-out;
  height: 30px;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-weight: 600;
  margin-left: 10px;
  border: 3px var(--white-color) solid;
  border-radius: 20px;
}
.aero-faq:hover {
  background-color: transparent;
  color: var(--white-color);
  border-color: #bc6371;
}
.aero-list-7 a {
  color: var(--white-color);
  padding: 10px;
  font-size: 1rem;
  text-transform: uppercase;
}
.aero-btn-booknow button {
  outline: none;
  transition: top 0.05s linear, box-shadow 0.05s linear;
  position: relative;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 12.5rem;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: 0 0.375rem #a0054c, 0 0.75rem #00000020,
    inset -0.0625rem 0 #ffffff80, inset 0.0625rem 0 #ffffff80,
    inset 0 0.0625rem #fff;
}
.aero-btn-booknow button:hover {
  top: 4px;
  box-shadow: 0 0.125rem #a0054c, 0 0.25rem #00000020,
    inset -0.0625rem 0 #ffffff80, inset 0.0625rem 0 #ffffff80,
    inset 0 0.0625rem var(--white-color);
}

@media only screen and (min-width: 900px) {
  .app-container {
    display: none;
  }
  .desktop-container {
    display: block;
  }
  .aero-btn-booknow button {
    font-size: 1.2rem;
  }
}
