/* top header section */
.aero_topheader_wrapper{
background: var(--primary-color);
color: white;
position: absolute;
top: 80px;
left: 25px;
width: 150px;
height: 190px;
z-index: 9;
text-align: center;
align-content: center;
padding: 0.5em;
overflow: clip;
border-radius: 0 20px 20px 20px;
}

.aero_topheader_wrapper .modal-close svg{
  font-size: 1.5rem;
  border: none;
  padding: 0;
  top: 4px;
  right: 4px;
}
.aero_topheader_wrapper .modal-close svg:hover{
  color: var(--white-color);
}


/* promotion popup section  */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: var(--white-color);
  padding: 0.5em;
  border-radius: 8px;
  position: relative;
  min-width: 300px;
  max-width: 800px;
  max-height: 90vh;
  z-index: 1001;
}

.aero_promotion_popup {
  max-height: 85vh;
  min-height: 85vh;
  overflow: auto;
}

.aero_promotion_popup::-webkit-scrollbar {
  display: none;
}

.aero_promotion_popup img {
  width: 100%;
}
.aero_promotion_popup h3 {
  padding: 1em 0;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.modal-close svg {
  padding: 0.1em;
  font-size: 2.3rem;
  border: 1px solid;
  border-radius: 5px;
}
.modal-close svg:hover {
  color: red;
}
