/* top header section */
.aero_topheader_wrapper {
  background: var(--black-color);
  color: var(--primary-color);
  border: 2px solid var(--white-color);
  position: absolute;
  top: 80px;
  left: 25px;
  max-width: 170px;
  height: auto;
  z-index: 9;
  text-align: center;
  align-content: center;
  padding: 1em;
  overflow: clip;
  border-radius: 0 20px 20px 20px;
  font-size: 1rem;
}

.aero_topheader_wrapper .modal-close svg {
  font-size: 1.5rem;
  border: none;
  padding: 0;
  top: 4px;
  right: 4px;
  color: var(--white-color);
}
.aero_topheader_wrapper .modal-close svg:hover {
  color: var(--primary-color);
}
/* top header section end*/

/* promotion popup section  */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: var(--white-color);
  padding: 0.5em;
  border-radius: 8px;
  position: relative;
  min-width: 300px;
  max-width: 800px;
  max-height: 90vh;
  z-index: 1001;
}

.aero_promotion_popup {
  max-height: 85vh;
  min-height: 85vh;
  overflow: auto;
}

.aero_promotion_popup::-webkit-scrollbar {
  display: none;
}

.aero_promotion_popup img {
  width: 100%;
}
.aero_promotion_popup h3 {
  padding: 1em 0;
}

.modal-close {
  position: absolute;
  top: 4px;
  right: 4px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.modal-close svg {
  padding: 0.1em;
  font-size: 2.3rem;
  border: 1px solid;
  border-radius: 5px;
}
.modal-close svg:hover {
  color: red;
}


.aero_topheader_wrapper::before {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  background: radial-gradient(circle, red, orange, yellow, green, blue);;
  border-radius: 50%; 
  animation: rotate-around 5s linear infinite;
}

@keyframes rotate-around {
  0% {
    top: 0;
    left: 0;
    transform: translate(0, 0) rotate(0deg);
}
25% {
    top: 0;
    left: 100%; /* Move to top-right corner */
    transform: translateX(-100%) rotate(90deg);
}
50% {
    top: 100%; /* Move to bottom-right corner */
    left: 100%;
    transform: translate(-100%, -100%) rotate(180deg);
}
75% {
    top: 100%; /* Move to bottom-left corner */
    left: 0;
    transform: translateY(-100%) rotate(270deg);
}
100% {
    top: 0; /* Back to top-left corner */
    left: 0;
    transform: translate(0, 0) rotate(360deg);
}
}

