.subcategory_main_section {
  min-height: 50vh;
  text-align: center;
  align-content: center;
  line-height: 32px;
}

@media screen and (min-width: 992px) {
  .subcategory_main_section {
    text-align: left;
  }
}
